BasedOnStyle: Google
IndentWidth: 4
AccessModifierOffset: -2
ColumnLimit: 120
MaxEmptyLinesToKeep: 3
PointerAlignment: Left
DerivePointerAlignment: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '<.+/.+>'
    Priority:        2
  - Regex:           '<.+>'
    Priority:        1
  - Regex:           '.*'
    Priority:        3
